:root {
    --title-color-dark: #2E2F42;
    --title-color-light: #FFFFFF;
    --main-text-color: #434455;
    --second-text-color: #F4F4FD;

}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

.list {
    list-style-type: none;
    list-style: none;
}

.link {
    text-decoration: none;
}

/*----------HEADER----------*/

.header {}

.header-navigation {}

.header-logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.header-logo span {
    color: #2e2f42;
}

.header-menu {}

.header-menu-item {}

.header-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);

}

.header-menu-link:hover,
.header-menu-link:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-list {}

.address-list-item {}

.address-list-link {
    font-style: normal;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.address-list-link:hover,
.address-list-link:focus {
    color: #404BBF;
}

/*----------SOLUTION----------*/

.solution {
    background: #2E2F42;
}

.solution-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


.solution-btn {
    font-family: "Roboto", sans-serif;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor: pointer;
}

.solution-btn:hover,
.solution-btn:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

/*----------FEATURES----------*/

.features {}

.features-list {}

.features-item {}

.features-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
}

.features-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*----------DOING----------*/
.doing {}

.doing-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-dark);
}

.doing-list {}

.doing-item {}

.doing-img {}

/*----------TEAM----------*/

.team {
    background: #F4F4FD;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-color-dark);
}

.team-list {
    background-color: #FFFFFF;
}

.team-item {}

.team-item-img {}

.team-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
}

.team-item-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

/*----------FOOTER----------*/
.footer {
    font-family: "Raleway", sans-serif;
    background: #2E2F42;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo span {
    color: #F4F4FD;
}

.footer-text {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;

}


/*----------PORTFOLIO----------*/

.filters {}

.filters-title {}

.filters-list {}

.filters-item {}

.filters-btn {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #4D5AE5;
    background: #F4F4FD;
    cursor: pointer;
}

.filters-btn:active,
.filters-btn:focus {
    color: #FFFFFF;
    background: #404BBF;

}

.portfolio {}

.portfolio-list {}

.portfolio-items {}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-color-dark);
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
}

.portfolio-img {}